# Android Studio
.project
.settings
.classpath

# Android
.idea
.gradle
local.properties
*.iml
/android/

# Node
node_modules
*.log
.nvm
/bots/node_modules/
package-lock.json

# Expo
.expo
__generated__
web-build